body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.header {

  background-color: #0F5CE9;
  padding: 15px;
}
.nav{
  background-color:#0C3381;
  height: 2.5em;
}
i {
  padding: 0 5px 0 5px;
}
#user{
  color: #fff;
  float: right;
  padding: 10px;
}

.application{
  margin: auto;
  height: 900px;
  width: 500px;
  background-color: red;
  background-image:
    url("http://res.cloudinary.com/lavoie-media/image/upload/v1490674872/background_yy6zne.png") ;
  background-repeat: no-repeat;
  background-size: cover;

}

.greating{
  color: #fff;
  padding: 15px;
}
.addTeam{
  padding: 15px;
}
.iconLabel{
  padding-top: 10px;
  font-size: 18px;
  color: #fff;
}

a{
  color: #fff;
  text-decoration: none;
}
.header {

  background-color: #0F5CE9;
  padding: 15px;
}
.nav{
  background-color:#0C3381;
  height: 2.5em;
}
i {
  padding: 0 5px 0 5px;
}

#user{
  color: #fff;
  float: right;
  padding: 10px;
}

.application{
  margin: auto;
  height: 900px;
  width: 500px;
  background-color: red;
  background-image:
    url("http://res.cloudinary.com/lavoie-media/image/upload/v1490674872/background_yy6zne.png") ;
  background-repeat: no-repeat;
  background-size: cover;

}

.greating{
  color: #fff;
  padding: 15px;
}
.addTeam{
  padding: 15px;
}
.iconLabel{
  padding-top: 10px;
  font-size: 18px;
  color: #fff;
}
.fa-chevron-left{
  padding: 10px;
  color: #fff;
  font-size: 30px;
}
form {
  font-size: 20px;
  padding: 15px;
  color: #fff;
}

#input1{
  font-size: 20px;
  width: 55%;
  height: 25px;
  margin-bottom: 10px;
}

.submit {
  margin-top: 10px;
  padding: 10px;
  width:100%;
  height:40px
}
.tabList{
  background: red;
  list-style: none;

}

#positionTab ul li {
  border: solid 3px green;
}
#playerTab ul li {
  border: solid 3px green;
}

#gameTab ul li {
  border: solid 3px green;
}



p{
  color: #fff;
  padding: 0 15px;
}
.tabs{
  background-color: #fff;
  color: #95989A;
}
.tab-panels ul li:hover{
  background-color: red;
}
.tab-panels ul{
  margin: 0;
  padding: 0;

}

.tab-panels .menu li{
  border: solid 2px;
  width: 140px;
  padding: 10px;
  font-size: 20px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
}

.menu li:hover{
  color: Black;
}

.tab-panels ul li.active{
  background-color: #CCDCF8;
  color: #95989A;
}

.tab-panels .panel{
  display: none;

}

.tab-panels .panel.active{
  display: block;
}
