body {
  padding: 0;
  margin: 0;
  background-color: black;
}

.header {
  background-color: #3981CE;
  padding: 5px 5px 10px;
  height: 75px;
}
.logo{
  width: 225px;
  z-index: 1;
  position: absolute;
}
.nav{
  background-color:#0C3381;
  height: 3em;
}
i {
  padding: 0 5px 0 5px;
}
#user{
  color: #fff;
  float: right;
  padding: 10px;
}

.application{
  margin: auto;
  height: 700px;
  width: 500px;
  background-image:
    url("http://res.cloudinary.com/lavoie-media/image/upload/v1490674872/background_yy6zne.png") ;
  background-repeat: no-repeat;
  background-size: cover;

}

.greating{
  color: #fff;
  padding: 15px;
}
.addTeam{
  padding: 15px;
}
.iconLabel{
  padding-top: 10px;
  font-size: 18px;
  color: #fff;
}

a{
  color: #fff;
  text-decoration: none;
}

.nav{
  background-color:#0C3381;
  height: 2.5em;
}
i {
  padding: 0 5px 0 5px;
}

#user{
  color: #fff;
  float: right;
  padding: 10px;
}


.greating{
  color: #fff;
  padding: 15px;
}
.addTeam{
  padding: 15px;
}

.teamName{
  margin: 10px 0;
  padding-left: 10px;
  color: #fff;
}
.iconLabel{
  padding-top: 10px;
  font-size: 18px;
  color: #fff;
}
.fa-chevron-left{
  padding: 10px;
  color: #fff;
  font-size: 30px;
}
form {
  font-size: 20px;
  padding: 15px;
  color: #fff;
}

#input1{
  font-size: 20px;
  width: 55%;
  height: 25px;
  margin-bottom: 10px;
}
#input2 {
  margin-top: 5px;
  width: 100%;
  height: 35px;
  padding: 3px;
  font-size: 20px;
  background: #0F5CE9;
  color: #fff;
  }



.tabList{
  background-color: rgba(192,192,192,0.3);
  list-style: none;

}

#positionTab ul li {
  padding: 10px;
  border-bottom: solid 3px rgba(12,51,129,.5);
}
#playerTab ul li {
  padding: 10px;
  border-bottom: solid 3px rgba(12,51,129,.5);
}

#gameTab ul li {
  padding: 10px;
  border-bottom: solid 3px rgba(12,51,129,.5);
}

.tabList {
  color: #fff;
  border-top: solid 3px rgba(12,51,129,.5);
  border-left: solid 3px rgba(12,51,129,.5);
  border-right: solid 3px rgba(12,51,129,.5);
}

p{
  color: #fff;
  padding: 0 15px;
}
.tabs{
  background-color: #fff;
  color: #95989A;
}


.tab-panels ul{
  margin: 0;
  padding: 0;


}

.tab-panels .menu li{
  width: 140px;
  padding: 10px;
  font-size: 20px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
}

.menu li:hover{
  color: Black;
}

.tab-panels ul li.active{
  background-color: #CCDCF8;
  color: #95989A;
}

.tab-panels .panel{
  display: none;

}

.tab-panels .panel.active{
  display: block;
}

.popUpWindow{
  color: #fff;
  display: none;
  width: 465px;
  background-color: rgba(0,0,0,0.9);
  position: fixed;
  top: 31%;
  z-index: 1;
  border: solid 3px grey;
}

.callInput {
  cursor: pointer;
}

#playerTab.input_main{
  color: white;
}

/* Styles added by Rob */
.base {
    width: 75px;
    height: 75px;
}

.err {
    color: red;
}

.dataList {
    color: #ffffff;
}
