@import url('https://fonts.googleapis.com/css?family=Montserrat|Playfair+Display');

body {
  background-color: black;
  padding: 0;
  margin: 0;
  font-family: 'Playfair Display', serif;
}
h1 h2 h3 h4 h5 h5{
  font-family: 'Montserrat', sans-serif;
}
.header {
  background-color: #3981CE;
  padding: 5px 5px 10px;
  height: 75px;
}
.logo{
  margin-left: 20px;
  width: 225px;
  z-index: 1;
  position: absolute;
}
.nav{
  background-color:#0C3381;
  height: 3em;
}
i {
  padding: 0 5px 0 5px;
}

.application{
  margin: auto;
  height: 700px;
  width: 500px;
  background-image:
    url("http://res.cloudinary.com/lavoie-media/image/upload/v1490674872/background_yy6zne.png") ;
  background-repeat: no-repeat;
  background-size: cover;

}

.greating{
  color: #fff;
  padding: 15px;
}
.addTeam{
  padding: 15px;
}
.iconLabel{
  padding-top: 10px;
  font-size: 18px;
  color: #fff;
}

a{
  color: #fff;
  text-decoration: none;
}

.nav{
  background-color:#0C3381;
  height: 3em;
}
i {
  padding: 0 5px 0 5px;
}

#user{
  margin: 15px 5px 15px 5px;
  color: #fff;
  float: right;

}
#position{
  font-size: 20px;
  height: 35px;
  margin-top: 10px;

}
#game{
  font-size: 20px;
  height: 35px;
  margin-top: 10px;

}
.icon-jersey-solid{
  font-size: 80px;
  color: #3981CE;
}
.generate{
    font-size: 20px;
    color: #fff;
    margin-top: 10px;
    background-color: #0C3381;
    height: 35px;
    float: left;
    width: 100%;
    border: none;
    cursor: pointer;
}


.greating{
  color: #fff;
  padding: 15px;
}
.addTeam{
  padding: 15px;
}

.teamName{
  margin: 10px 0;
  padding-left: 10px;
  color: #fff;
}
.iconLabel{
  padding-top: 10px;
  font-size: 18px;
  color: #fff;
}
.fa-chevron-left{
  margin: 15px 0 15px 10px;
  color: #fff;
  font-size: 30px;
}
form {
  display: grid;
  font-size: 20px;
  padding: 15px;
  color: #fff;
}

#pFName{
  font-size: 20px;
  height: 35px;
  margin-bottom: 10px;
}
#pLName {
  margin-top: 5px;
  height: 35px;
  padding: 3px;
  font-size: 20px;
  }

select#teamName{
  font-size: 20px;
  height: 35px;
  margin-top: 10px;
}

  input#teamName{
    font-size: 20px;
    height: 35px;
    margin-top: 10px;
  }

  #coachEmail{
    font-size: 20px;
    height: 35px;
    margin-top: 10px;
  }

.dataList{
  color: #fff;
  font-size: 20px;
  margin-left: 10px;
}
.dataList ul{
  list-style: none;
}
.headLines{
  font-size: 25px;
}
h2#teamName{
  padding: 10px 0 10px 10px;
  margin: 0;
  background-color: rgba(170, 170, 170, .3);
  color: #d8dbe2;
}
.close{
  font-size: 20px;
  color: #fff;
  margin-top: 10px;
  background-color: #0C3381;
  height: 35px;
  float: left;
  width: 100%;
  border: none;
  cursor: pointer;
}
.add{
  font-size: 20px;
  color: #fff;
  margin-top: 10px;
  background-color: #0C3381;
  height: 35px;
  float: left;
  width: 100%;
  border: none;
  cursor: pointer;
}

.submit{
  font-size: 20px;
  color: #fff;
  background-color: #0C3381;
  height: 35px;
  float: left;
  width: 100%;
  border: none;
  cursor: pointer;
}

.tabList{
  background-color: rgba(192,192,192,0.3);
  list-style: none;

}

#positionTab ul li {
  padding: 10px;
  border-bottom: solid 3px rgb(57,129,206);
}
#playerTab ul li {
  padding: 10px;
  border-bottom: solid 3px rgb(57,129,206);
}

#gameTab ul li {
  padding: 10px;
  border-bottom: solid 3px rgb(57,129,206);
}

.tabList {
  color: #fff;
  border-top: solid 3px rgb(57,129,206);
  border-left: solid 3px rgb(57,129,206);
  border-right: solid 3px rgb(57,129,206);
}

p{
  color: #fff;
  padding: 0 15px;
}
.tabs{
  background-color: #fff;
  color: #95989A;
}


.tab-panels ul{
  margin: 0;
  padding: 0;


}

.tab-panels .menu li{
  width: 75px;
  padding: 10px;
  font-size: 20px;
  list-style: none;
  display: inline-block;
  cursor: pointer;
}

.menu li:hover{
  color: Black;
}

.tab-panels ul li.active{
  background-color: #CCDCF8;
  color: #95989A;
}

.tab-panels .panel{
  display: none;

}

.tab-panels .panel.active{
  display: block;
}

.popUpWindow{
  margin-left: 100px;
  color: #fff;
  display: none;
  width: 270px;
  background-color: #3981CE;
  position: fixed;
  top: 40%;
  z-index: 1;
}

.callInput {
  cursor: pointer;
}

#playerTab.input_main{
  color: white;
}

/* Styles added by Rob */
.base {
    width: 75px;
    height: 75px;
}

.err {
    color: red;
}
